@{
    ViewBag.Title = "Home";
}
<body class="homecss">
    <div class="jumbotron">
    <div class="homestuff">
    <h1>Hobby Lobby Clean Up</h1>
    <p class="lead">Welcome! Please use the navigation panel above to select the appropriate view.</p>
    </div>
    </div>
</body>

