body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.homecss {
    background-image: url(https://bloximages.chicago2.vip.townnews.com/ttownmedia.com/content/tncms/assets/v3/editorial/f/17/f175aa8a-263b-11ec-b1cd-8b8717d7402e/615ced5548e79.image.jpg?resize=1476%2C1126);
}
.jumbotron{
    background-color: white;
    opacity: 0.7;
    margin-top: 10px;
}
.homestuff{
    text-align: center;
}
